[submodule "oauth"]
	path = oauth
	url = git://github.com/chb/oauth_py.git
[submodule "codingsystems"]
	path = codingsystems
	url = git://github.com/chb/indivo_codingsystems.git		
[submodule "sample_data"]
	path = sample_data
	url = git://github.com/chb/indivo_sample_data.git
[submodule "smart_common"]
	path = smart_common
	url = git://github.com/chb/smart_common.git
[submodule "indivo/tests/indivo_client_py"]
	path = indivo/tests/indivo_client_py
	url = git://github.com/chb/indivo_client_py.git
