<address>
  <table>
    <tr>
      <th colspan="2">{{ account.full_name }} ({{ account.email }})</th>
    </tr>
    <tr>
      <td>Contact at:</td>
      <td><a mailto="{{ account.contact_email }}">{{ account.contact_email }}</a></td>
    </tr>
    <tr>
      <td>Created on:</td>
      <td>{{ account.created_at }}</td>
    </tr>
    <tr>
      <td>Created by:</td>
      <td>{{ account.creator.email }}</td>
    </tr>
    <tr>
      <td>Status:</td>
      <td>{{ account.state }}</td>
    </tr>
    <tr>
      <td>Pin (Confirmation Code):</td>
      <td>{{ account.secondary_secret_pretty }}</td>
    </tr>
  </table>
</address>
