{% extends "admin/base.html" %}

{% block content %}
	<section>
		<div class="page-header">
			<h3>New</h3>
		</div>
	</section>
	<div class="row">
		<a class="btn primary offset1" href="/admin/record/">+ Record</a>
	</div>
	<section>
		<div class="page-header">
			<h3>Search Records</h3>
		</div>
		<form action="/admin/record/search" method="get">
			<div class="clearfix">
				<label for="search_string">By Full Name:</label>
				<div class="input">
					<input class="xlarge" name="search_string" size="30" type="text">
					<input type="submit" value="Search" class="btn primary "/>
				</div>
			</div>
		</form>
	</section>
	<section>
		<div class="page-header">
			<h3>Export Data</h3>
		</div>
		<div class="row">
		<a class="btn primary offset1" href="/admin/export">Export</a>
	</div>
	</section>
{% endblock %}
