{% extends "admin/base.html" %}

{% block content %}
	<section id="record">
		<div class="page-header">
			{% if record %}
				<h1>{{ record.label }} ({{ record.id|default_if_none:"" }})</h1>			
			{% else %}
				<h1>New Record</h1>
			{% endif %}
		</div>
		<div>
			{% include "admin/record_form.html" %}
		</div>
	</section>
	{% if record %}
		<section id="owner">
			<div class="page-header">
				<h2>Owner 
					<a class="btn" href="/admin/record/{{ record.id }}/owner">+ {% if record.owner %}Change{% else %}Assign{% endif %} Owner</a> 
			</div>
			<div class="row">
				<div class="span4 offset1">
					{% if record.owner %}
						{% include "admin/_account.html" with account=record.owner.account %}
					{% else %}
						<h3>No Owner</h3>
					{% endif %}
				</div>
			</div>
		</section>
		<section id="shares">
			<div class="page-header">
				<h2>Full Shares <a class="btn" href="/admin/record/{{ record.id }}/share">+ Add Share</a></h2>
			</div>
			<div class="row">
				{% for share in record.fullshares.iterator %}
					<div class="span4 offset1">
						{% include "admin/_account.html" with account=share.with_account %}
						<button class="btn error">remove share</button>
					</div>
				{% empty %}
					<div class="span4 offset1">
						<h3>No Full Shares</h3>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endif %}
	
{% endblock %}