<form action="/admin/record/" method="post" class="span8">{% csrf_token %}
    {{ record_form.non_field_errors }}
    {% for field in record_form %}
		<div class="clearfix {% if field.errors %}error{% endif %}">
			{{ field.label_tag }}
			<div class="input">
				{{ field }}
				{% for error in field.errors %}
					<span class="help-inline">{{ error }}</span>
				{% endfor %}
			</div>
		</div>
    {% endfor %}
    {% if not record %}
    	<div class="clearfix">
	    	<div class="input">
	    		<input type="submit" value="Create Record" class="btn primary "/>
	    	</div>
	    </div>
   	{% endif %}
</form>
